#
# Expiration of Certificate: {{ .expires_in }}
# Session Duration: {{ .ttl }}
#

client
dev tun
proto tcp

remote-cert-tls server

{{ range $server := .openvpn_servers }}remote {{ $server }}
{{ end }}
resolv-retry infinite
nobind
persist-key
persist-tun
ca [inline]
cert [inline]
key [inline]
tls-auth [inline]
verb 1
keepalive 10 900
inactive 3600
#comp-lzo
cipher AES-256-CBC

<ca>
{{ .issuing_ca }}
</ca>

<cert>
{{ .certificate }}
</cert>

<key>
{{ .private_key }}
</key>

<tls-auth>
{{ .tlsauth }}
</tls-auth>
key-direction 1